backup
.backup
/backup/
backup/

lib
lib/
/lib
/lib/
.lib

.target
/target
/target/
target

DB
/DB
/DB/
./DB
./DB/

/gc_content_calculator.depend
gc_content_calculator.depend/
.gc_content_calculator.depend
/gc_content_calculator.depend/

.depend
depend
/depend/
depend/

/gc_content_calculator.layout
gc_content_calculator.layout
/gc_content_calculator.layout/
.gc_content_calculator.layout

.layout
layout
/layout/
layout/

bin
/bin/
/bin
bin/

obj
/obj/
/obj
obj/

