backup
.backup
/backup/
backup/

lib
lib/
/lib
/lib/
.lib

.target
/target
/target/
target

DB
/DB
/DB/
./DB
./DB/

.depend
depend
/depend/
depend/

.layout
layout
/layout/
layout/

bin
/bin/
/bin
bin/

obj
/obj/
/obj
obj/

